{%extends 'base.html'%} {%load static%} {%block conteudo%}
<main>
  {% include 'parciais/_mensagens.html'%}
  <section id="consultaAluno">
    <table class="tabela">
      <tr>
        <th>CPF</th>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Data Nasc.</th>
        <th>Cod/Endereço</th>
      </tr>
      {%for dado in dadosJuntados%}
      <tr>
        <td>{{dado.cpf}}</td>
        <td>{{dado.nome_aluno}}</td>
        <td>{{dado.sobrenome_aluno}}</td>
        <td>{{dado.dt_nasc}}</td>
        <td>{{dado.endereco}}</td>
      </tr>
      {%endfor%}
    </table>
    <section class="estatisticasConsultaAluno">
      <h1>Estatísticas</h1>
      <article >
        <p>Número Total Alunos: {{estatAlunoT}}</p>
        <p>Número de alunos exibidos: {{estatAlunoP}}</p>
        <p>Idade média dos Alunos: {{idadeMedia}}</p>
        <p>{{menor18}} Alunos menores de 18 anos.</p>
        <p>{{entre18e30}} Alunos entre 18 e 30 anos.</p>
        <p>{{acima30}} Alunos acima de 30 anos.</p>
      </article>
    </section>
  </section>
  <section class="secaoPaginacao">
    <nav id="paginacao">
        {%for pagina in dadosJuntados.paginator.page_range%}
            {%if dadosJuntados.number == pagina%}
                <div class="caixaDasPaginas linkAtivo">
                    <a class="linkPaginacao" href="?p={{pagina}}">{{pagina}}</a>
                </div>
            {%else%}
                <div class="caixaDasPaginas">
                    <a class="linkPaginacao" href="?p={{pagina}}">{{pagina}}</a>
                </div>
            {%endif%} 
        {%endfor%}
    </nav>
  </section>
</main>
{%endblock%}
