{%extends 'base.html'%}
{%block conteudo%}
<main>
  {% include 'parciais/_mensagens.html'%}
  <section id="consultaScroll">
    <table class="tabela">
      <tr>
        <th>Código</th>
        <th>Nome</th>
        <th>Departamento</th>
      </tr>
      {%for dado in respPesquisa%}
      <tr>
        <form action="{%url 'detalhes-curso'%}" method="get">
        <td><input type="hidden" name="codC" value="{{dado.cod_c}}"><button type="submit" id="btnConsult">
        {{dado.cod_c}}</button></td>
        </form>
        <td>{{dado.nome_c}}</td>
        <td>{{dado.cod_dep}}</td>
      </tr>
      {%endfor%}
    </table>
      <section class="estatisticasConsulta">
        <h1>Estatísticas</h1>
        <article >
          <p>Número Total Cursos: {{qtdCursos}}</p>
          {%if qtdCursos > 1%}
            <p>{{qtdCursos}} resultados em {{temporizador}} segundos.</p>
          {%elif qtdCursos == 1%}
            <p>{{qtdCursos}} resultado em {{temporizador}} segundos.</p>
          {%else%}
            <!-- <p></p> -->
          {%endif%}
        </article>
      </section>
  </section>
</main>
{%endblock%}
