{%extends 'base.html'%}
{%block conteudo%}
<main>
    {% include 'parciais/_mensagens.html'%}
    <section id="consultaScroll">
        <table class="tabela">
          <tr>
            <th>Matrícula Professor</th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Número Contrato</th>
            <th>Data Contrato</th>
            <th>Cod/Departamento</th>
          </tr>
          {%for dado in respPesquisa%}
            <tr>
              <form action="{%url 'detalhes-professor'%}" method="get">
              <td><input type="hidden" name="matProf" value="{{dado.matricula_prof}}"><button type="submit" id="btnConsult">
                {{dado.matricula_prof}}</button></td>
              </form>
              <td>{{dado.nome_prof}}</td>
              <td>{{dado.sobrenome_prof}}</td>
              <td>{{dado.n_contrato}}</td>
              <td>{{dado.data_contrato}}</td>
              <td>{{dado.departamento}}</td>
            </tr>
          {%endfor%}
        </table>
        <section class="estatisticasConsulta">
          <h1>Estatísticas</h1>
          <article >
            <p>Número Total Professores: {{qtdProfessores}}</p>
            {%if qtdProfessores > 1%}
              <p>{{qtdProfessores}} resultados em {{temporizador}} segundos.</p>
            {%elif qtdProfessores == 1%}
              <p>{{qtdProfessores}} resultado em {{temporizador}} segundos.</p>
            {%else%}
              <!-- <p></p> -->
            {%endif%}
          </article>
        </section>
    </section>
</main>
{%endblock%}