{%extends 'base.html'%}
{%block conteudo%}
<main>
  {% include 'parciais/_mensagens.html'%}
  <h1 style="font-size: 24px">Detalhes do Aluno: {{nomeAluno}} {{sobrenomeAluno}}</h1>
  <section id="consultaScroll">
    <table class="tabela">
      <tr>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Data Nasc.</th>
        <th>Código Curso</th>
        <th>Nome Curso</th>
        <th>Número Matrícula</th>
        <th>Data Matrícula</th>
      </tr>
      <tr>
        {%for dado in respPesquisaAluno%}
          <td>{{dado}}</td>
        {%endfor%}
      </tr> 
    </table>
    <table class="tabela">
      <tr>
        <th>Grade</th>
      </tr>
      {%for dado in respPesquisaGrade%}
        <tr>
          <td>{{dado}}</td>
        </tr>
      {%endfor%}
    </table>
  </section>
  <section class="estatisticasConsulta">
    {%if qtdTotalPesquisa > 1%}
      <p>{{qtdTotalPesquisa}} resultados em {{temporizador}} segundos.</p>
    {%elif qtdTotalPesquisa == 1%}
      <p>{{qtdTotalPesquisa}} resultado em {{temporizador}} segundos.</p>
    {%else%}
      <p></p>
    {%endif%}
  </section>
</main>
{%endblock%}