{%extends 'base.html'%}
{%block conteudo%}
<main>
    {% include 'parciais/_mensagens.html'%}
    <section id="consultaScroll">
      <table class="tabela">
        <tr>
          <th colspan="5">Grade</th>
        </tr>
        <tr>
          <th colspan="5">{{codC}} / {{nomeC}}</th>
        </tr>
        <tr>
          <th>Código Disciplina</th>
          <th>Nome</th>
          <th>Matrícula Professor</th>
          <th>Nome</th>
          <th>Sobrenome</th>
        </tr>
        {%for tupla in dadosC%}
        <tr>
          {%for dado in tupla%}
            <td>{{dado}}</td>
          {%endfor%}
        </tr>
        {%endfor%}
      </table>
      <section class="estatisticasConsulta">
        <h1>Estatísticas</h1>
        <article >
          <p>Total Alunos Matriculados: {{i}}</p>
          <p>Qtd Disciplinas: {{i}}</p>
          <p>Departamento: {{i}}</p>
        </article>
      </section>
    </section>
    <section class="estatisticasConsulta">
      {%if nResult > 1%}
        <p>{{nResult}} resultados em {{temp}} segundos.</p>
      {%elif nResult == 1%}
          <p>{{nResult}} resultado em {{temp}} segundos.</p>
      {%else%}
        <p></p>
      {%endif%}
    </section>
</main>
{%endblock%}