{%extends 'base.html'%}
{%block conteudo%}
<main>
  {% include 'parciais/_mensagens.html'%}
  <h1 style="font-size: 24px">Detalhes do Curso: {{nomeC}}</h1>
  <section id="consultaScroll">
    <table class="tabela">
      <tr>
        <th colspan="5">Grade</th>
      </tr>
      <tr>
        <th colspan="5">{{codC}} / {{nomeC}} / {{codG}}</th>
      </tr>
      <tr>
        <th>Código Disciplina</th>
        <th>Nome</th>
        <th>Matrícula Professor</th>
        <th>Nome</th>
        <th>Sobrenome</th>
      </tr>
      {%for tupla in dadosC%}
      <tr>
        {%for dado in tupla%}
          <td>{{dado}}</td>
        {%endfor%}
      </tr>
      {%endfor%}
    </table>
    <section class="estatisticasConsulta">
      <h1>Estatísticas</h1>
      <article >
        <p>Código Grade: {{codG}}</p>
        <p>Total Alunos Matriculados: {{estatAluno}}</p>
        <p>Qtd Disciplinas: {{estatDisci}}</p>
        <p>Departamento: {{estatDep}}</p>
      </article>
    </section>
  </section>
  <section class="estatisticasConsulta">
    {%if eResult > 1%}
      <p>{{eResult}} resultados em {{temp}} segundos.</p>
    {%elif eResult == 1%}
      <p>{{eResult}} resultado em {{temp}} segundos.</p>
    {%else%}
      <p></p>
    {%endif%}
  </section>
</main>
{%endblock%}
