{%extends 'base.html'%}
{%block conteudo%}
<main>
    {% include 'parciais/_mensagens.html'%}
    <section>
        <fieldset>
            <h1>Cadastrar Departamentos</h1>
            <form action="{% url 'cadastrar-departamento'%}" method="post">
                {% csrf_token %}
                <div class="formulario">
                    {}
                    <button type="submit">Cadastrar Departamento</button>
                </div>
            </form>
        </fieldset>
    </section>
</main>
{% endblock %}