{%extends 'base.html'%} 
{%block conteudo%}
<main>
  {% include 'parciais/_mensagens.html'%}
  <section>
    <form action="{% url 'consultas-avancadas'%}" method="get">
      <div class="formulario">
        {{form}}
        <button>Pesquisar</button>
      </div>
    </form>
  </section>
  <section id="consultaScroll">
    {%if resultadoTotalEstatistica < 1%}
      <!-- <p></p> -->
    {%else%}
    <table class="tabela">
      <tr>
        <th>CPF</th>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Nascimento</th>
        <th>Endereço</th>
      </tr>
      {% for dados in respPesquisa%} 
        <tr>
          <form action="{%url 'detalhes-aluno'%}" method="get">
          <td><input type="hidden" name="cpf" value="{{dados.cpf}}">
          <button type="submit" id="btnConsult">
          {{dados.cpf}}</button></td>
          </form>
          <td>{{dados.nome_aluno}}</td>
          <td>{{dados.sobrenome_aluno}}</td>
          <td>{{dados.dt_nasc}}</td>
          <td>{{dados.endereco}}</td>
        </tr>
      {%endfor%}
    </table>
    {%endif%}
    <section class="estatisticasConsulta">
      {%if resultadoTotalEstatistica > 1%}
        <h1>Estatísticas:</h1>
        <p>{{resultadoTotalEstatistica}} resultados em {{temporizador}} segundos.</p>
        <p>{{resultadoPPagina}} resultados mosntrados na pagina.</p>
      {%elif resultadoTotalEstatistica == 1%}
        <h1>Estatísticas:</h1>
        <p>{{resultadoTotalEstatistica}} resultado em {{temporizador}} segundos.</p>
        <p>{{resultadoPPagina}} resultado mosntrado na pagina.</p>
      {%else%}

      {%endif%}
    </section>
  </section>
  <section class="secaoPaginacao">
    <nav id="paginacao">
      {%for pagina in respPesquisa.paginator.page_range%}
        {%if respPesquisa.number == pagina%}
          <div class="caixaDasPaginas linkAtivo">
            <a class="linkPaginacao" href="?p={{pagina}}&pesquisa={{request.GET.pesquisa}}">{{pagina}}</a>
          </div>
        {%else%}
          <div class="caixaDasPaginas">
            <a class="linkPaginacao" href="?p={{pagina}}&pesquisa={{request.GET.pesquisa}}">{{pagina}}</a>
          </div>
        {%endif%} 
      {%endfor%}
    </nav>
  </section>
</main>
{%endblock%}
