{%extends 'base.html'%} {%block conteudo%}
<main>
    {% include 'parciais/_mensagens.html'%}
  <section>
    <form action="{% url 'consultas-avancadas'%}" method="post">
      {% csrf_token %}
      <div class="formulario">
        {{form}}
        <button>Pesquisar</button>
      </div>
    </form>
  </section>
  <section id="consultaScroll">
    <table class="tabela">
    <tr>
        <th>CPF</th>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Nascimento</th>
        <th>Endereço</th>
    </tr>
    {% for dados in resp%} 
        <tr>
            <td>{{dados.cpf}}</td>
            <td>{{dados.nome_aluno}}</td>
            <td>{{dados.sobrenome_aluno}}</td>
            <td>{{dados.dt_nasc}}</td>
            <td>{{dados.endereco}}</td>
        </tr>
    {%endfor%}
    </table>
  </section>
</main>
{%endblock%}
