{%load static%}
<header>
    <nav class="menu">

        <div class="logo">
            <h1>App Escola</h1>
        </div>

        <button id="navBtn" class="navBtn" onclick="openNav()">
            <i class="fa-solid fa-bars fa-2x"></i>
        </button>
        
        <div id="drop" class="menuDropDown">
            <ul>
                <li><a href="{%url 'index'%}">Home</a></li>
                {% if 'login' not in request.path %}
                    <li><a href="#">Cadastros</a>
                        <ul class="primeiraUl">
                            <li class="sNivel"><a href="#">Aluno</a>
                                <ul>
                                    <li><a href="{%url 'cadastrar-aluno'%}">Aluno</a></li>
                                    <li><a href="{%url 'cadastrar-endereco'%}"">Endereço</a></li>
                                    <li><a href="{%url 'cadastrar-matricula'%}"">Matrícula</a></li>
                                    <li><a href="{%url 'cadastrar-alunoDisciplina'%}"">Disciplina</a></li>
                                </ul>
                            </li>
                            <li class="sNivel"><a href="#">Curso</a>
                                <ul>
                                    <li><a href="{%url 'cadastra-curso'%}">Curso</a></li>
                                    <li><a href="{%url 'cadastra-grade'%}">Grade</a></li>
                                </ul>
                            </li>
                            <li class="sNivel"><a href="#">Disciplina</a>
                                <ul>
                                    <li><a href="{%url 'cadastra-disciplina'%}">Disciplina</a></li>
                                    <li><a href="{%url 'cadastra-requisito'%}">Requisito</a></li>
                                </ul>
                            </li>
                            <li class="sNivel"><a href="#">Departamento</a>
                                <ul>
                                    <li><a href="{%url 'cadastrar-departamento'%}">Departamento</a></li>
                                </ul>
                            </li>
                            <li class="sNivel"><a href="#">Professor</a>
                                <ul class="sNivel">
                                    <li><a href="{%url 'cadastrar-professor'%}">Professor</a></li>
                                    <li><a href="{%url 'cadastrar-contrato'%}">Contrato</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">Consultas</a>
                        <ul>
                            <li class="sNivel"><a href="#">Escola</a>
                                <ul>
                                    <li><a href="{%url 'consulta-aluno'%}">Aluno</a></li>
                                    <li><a href="{%url 'consulta-curso'%}"">Cursos</a></li>
                                    <li><a href="{%url 'consulta-professor'%}"">Professores</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    {%if request.user.is_superuser%}
                        <li><a href="/admin/">Administração</a></li>
                    {%endif%}
                    <li><a href="{%url 'logout'%}">Sair</a></li>
                {%endif%}
                <li><a href="#">Informações</a></li>
            </ul>
            <div>
                <a href="javascript:void(0)" id="closeBtn" class="closeBtn" onclick="closeNav()">&times;</a>
            </div>
        </div>
        
        
    </nav>
    <script src="{%static 'script_btn_sandwich.js'%}"></script>
</header>