{%extends 'base.html'%} {%block conteudo%}
<main>
  {% include 'parciais/_mensagens.html'%}
  <section>
    <fieldset>
      <h1>Cadastrar Grades</h1>
      <h3>Data Hoje:</h3>
      <h3>{{data}}</h3>
      <form action="{% url 'cadastra-grade'%}" method="post">
        {% csrf_token %}
        <div class="formulario">
          <table class="tabela">
            {{formGrade}}
          </table>
          <button type="submit">Cadastrar Grade</button>
        </div>
      </form>
    </fieldset>
  </section>
</main>
{% endblock %}
