{%extends 'base.html'%} {%load static%} {%block conteudo%}
<main>
  {% include 'parciais/_mensagens.html'%}
  <section>
    <fieldset>
      <h1>Cadastrar Cursos</h1>
      <h3>Data Hoje:</h3>
      <h3>{{data}}</h3>
      <form action="{% url 'cadastra-curso'%}" method="post">
        {% csrf_token %}
        <div class="formulario">
          <table class="tabela">
            {{formCurso}}
          </table>
          <div class="alinharBtn">
            <button type="submit">Cadastrar Curso</button>
            <label for="mostradados">Mostrar Departamentos</label>
            <input type="checkbox" name="mostra" id="mostraDados" />
          </div>
        </div>
      </form>
    </fieldset>
  </section>
  <section class="mostraDados" id="mostra">
    <table class="tabela">
      <tr>
        <th>Código Departamento</th>
        <th>Nome Departamento</th>
      </tr>
      {%for dado in dadosDep%}
      <tr>
        <td>{{dado.cod_dep}}</td>
        <td>{{dado.nome_dep}}</td>
      </tr>
      {%endfor%}
    </table>
    <p>
      Não encontrou o departamento? Cadastrar um departamento
      <a href="{% url 'cadastrar-departamento'%}">aqui</a>
    </p>
  </section>
  <section class="secaoPaginacao">
    <nav id="paginacao">
        {%for pagina in dadosDep.paginator.page_range%}
            {%if dadosDep.number == pagina%}
                <div class="caixaDasPaginas linkAtivo">
                    <a class="linkPaginacao" href="?p={{pagina}}">{{pagina}}</a>
                </div>
            {%else%}
                <div class="caixaDasPaginas">
                    <a class="linkPaginacao" href="?p={{pagina}}">{{pagina}}</a>
                </div>
            {%endif%} 
        {%endfor%}
    </nav>
  <script src="{% static 'script_cadastros.js'%}"></script>
</main>
{% endblock %}
