{%extends 'base.html'%}
{%block conteudo%}
<main>
    <section>
        <fieldset>
            <h1>Cadastrar Cursos</h1>
            <form action="{% url 'cadastra-curso'%}" method="post">
                {% csrf_token %}
                <div class="formulario">
                    <label for="nomeCurso">Nome Do Curso:</label>
                    <input type="text" name="nomeCurso" id="nomeCurso" required>
                    <label for="codDepartamento">Cod Departamento:</label>
                    <input type="text" name="codDepartamento" id="codDepartamento" required>
                    <button type="submit">Cadastrar Curso</button>
                </div>
            </form>
        </fieldset>
    </section>
</main>
{% endblock %}