:root {
  --cor-PrimeiroNivel: #18db36;
  --cor-SegundoNivel: #70ff86;
  --cor-Hover: #85ab8b;
  --cor-FonteEscura: #8f1935;
  --cor-FonteClara: #d18899;
  --preto: #000;
  --branco: #fff;
  --background-msg-sucesso: #1cdf2c;
  --background-msg-atencao: #dad60e;
  --background-msg-erro: #ec5555;
}
body {
  background-image: url("imagem_fundo.jpeg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Aboreto";
  font-style: normal;
  font-size: 25px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header,
footer {
  width: 100%;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  color: #8f1935;
  border-radius: 5px;
  background-color: var(--cor-FonteClara);
}
.logo h1 {
  font-size: 22px;
  text-align: center;
  margin: 10px;
}
nav{
  width: 100%;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--preto);
}
ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  width: auto;
}
li ul {
  display: none;
}
li {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: relative;
  right: 20px;
}
li:hover {
  background-color: var(--cor-SegundoNivel);
}
.menu a {
  font-size: small;
}
#drop{
  display: none;
  justify-content: center;
  align-items: center;
}
ul a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--cor-PrimeiroNivel);
  width: 120px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
a:hover {
  color: var(--preto);
}
li:hover ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--preto);
  width: 100px;
}
li a {
  text-align: center;
}
li.sNivel ul {
  display: none;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 500px;
  width: 100%;
}
main + section{
  display: flex;
  align-items: center;
  justify-items: center;
  width: 100%;
  background-color: var(--preto);
}
#consultaAluno{
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll;
}
#consultaAluno table{
  font-size: 16px;
  margin-left: 10px;
  color: var(--branco);
}
.estatisticasConsultaAluno{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
}
.estatisticasConsultaAluno p{
  background-color: var(--cor-FonteClara);
  border-radius: 5px;
  padding: 5px;
}
.mostraDados,
.mostraDados table,
.mostraDados p{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-collapse: collapse;
  width: 100%;
  color: var(--branco);
}
.mostraDados p{
  background-color: var(--cor-FonteEscura);
  text-align: center;
}
.mostraDados a{
  text-decoration: none;
  color: var(--preto);
  transition: all 500ms ease-in-out;
}
.mostraDados a:hover{
  color: var(--cor-FonteClara);
}
li.sNivel:hover ul {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 100%;
}
.finalPagina {
  width: 100%;
  height: 10vh;
  background-color: var(--cor-Hover);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9px;
}
.index{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
fieldset {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid var(--cor-PrimeiroNivel);
  background-color: var(--branco);
  box-shadow: var(--cor-PrimeiroNivel) 2px 2px 2px;
  margin: 0;
}
fieldset h1{
  text-align: center;
  margin: 0%;
}
fieldset h3{
  font-size: 14px;
  text-align: center;
  margin: 10px;
}
fieldset form{
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainLogin{
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainLogin h1{
  background-color: var(--cor-FonteClara);
  text-align: center;
  font-size: 26px;
  width: 90%;
  padding: 5px;
}
.formLogin{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  font-size: 18px;
}
.formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--branco);
  background-color: var(--cor-FonteEscura);
  box-shadow: 2px 2px 2px var(--cor-FonteClara);
  border-collapse: collapse;
  width: 90%;
}
.formulario label,
.formulario input,
.formulario button{
  width: 90%;
  margin: 10px;
}
.formulario label{
  box-shadow: 0px 2px var(--branco);
}
.formulario select, 
.formulario input{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 5px;
  height: 30px;
  width: 90%;
  font-size: 18px;
}
.formulario button {
  background-color: var(--cor-SegundoNivel);
  height: 30px;
  transition: all 500ms ease-in-out;
}
.formulario button:hover {
  color: var(--cor-FonteEscura);
  background-color: var(--cor-FonteClara);
}
.msg_sucesso {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: var(--background-msg-sucesso);
}
.msg_alerta {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: var(--background-msg-atencao);
}
.msg_erro {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: var(--background-msg-erro);
}
.tabela{
  display: flex;
  align-items: center;
  justify-content: center;
  border-collapse: collapse;
  width: auto;
  font-size: 18px;
}
table th,
table tr,
table td{
  background-color: var(--cor-FonteEscura);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: 3px solid var(--preto);
  /* padding: 5px; */
  position:static;
}
table ul, 
table li{
  position: static;
}
.alinharBtn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.alinharBtn button{
  width: 70%;
}
.alinharBtn input{
  width: 10%;
}
.alinharBtn label{
  text-align: center;
  font-size: 13px;
  width: 20%;
}
.navBtn{
  background-color: var(--cor-FonteEscura);
  border-radius: 5px;
  border: 2px solid;
  box-shadow: 1px 1px 1px var(--cor-FonteClara);
  transition: all 200ms ease-in-out;
}
.navBtn:hover{
  background-color: var(--cor-SegundoNivel);
  box-shadow: 1px 1px 1px var(--cor-FonteEscura);
}
.navBtn:active{
  background-color: var(--cor-FonteEscura);
  box-shadow: 1px 1px 1px var(--cor-FonteClara);
}
#closeBtn{
  margin: 0;
  padding: 0;
  font-size: 48px;
  text-decoration: none;
  color: var(--cor-FonteClara);
  transition: all 200ms ease-in-out;
}
#closeBtn:hover{
  margin: 0;
  padding: 0;
  color: var(--cor-PrimeiroNivel);
  padding: 2px;
  border-radius: 2500px;
}
#closeBtn:active{
  transition: all 200ms ease-in-out;
  color: var(--cor-FonteEscura);
}
#msgCss{
  width: 100%;
  padding: 0;
  margin: 0;
}
.secaoPaginacao{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}
#paginacao{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  color: var(--branco);
  background-color: var(--cor-FonteEscura);
  height: auto;
  font-size: 30px;
  overflow-x: scroll;
}
.caixaDasPaginas a{
  text-decoration: none;
  color: var(--cor-FonteEscura);
  transition: all 200ms ease-in-out;
}
.caixaDasPaginas a:hover{
  color: var(--preto);
}
.caixaDasPaginas{
  /* margin: auto; */
  display: grid;
  grid-template-columns: 40px;
  /* gap: 5px; */
  text-align: center;
  text-decoration: none;
  background-color: var(--cor-SegundoNivel);
}
.linkAtivo{
  background-color: var(--preto);
  text-align: center;
}
.linkAtivo a{
  color: var(--branco);
}
.linkAtivo a:hover{
  color: var(--cor-PrimeiroNivel);
}
.info{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.info-1,
.info-2{
  background-color: var(--cor-FonteClara);
  font-size: 16px;
  border-radius: 5px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 3px 3px 3px var(--cor-FonteEscura);
}
.info p{
  margin: 10px;
  text-align: center;
}
.info-2{
  margin-top: 20px;
}