{%extends 'base.html'%} {%block conteudo%}
<main>
  <section class="info">
    <div class="info-1">
      <h1>Sobre o site:</h1>
      <p>
        Este aplicativo foi desenvolvido com finalidade de estudo, para
        aprendizado e desenvolvimento de técnicas no Framework Django, SGBD
        PostgreSQL, HTML, CSS e Java Script.        
      </p>
      <p>O aplicativo consiste em um sitema de gerenciamento privativo de uma escola, onde são feitos os cadastros dos alunos, cursos, departamentos, grades, matrículas, etc. Há uma seção onde
          é feita consultas sobre os alunos e todos seus detalhes, qual curso está matriculado, disciplinas
           do curso e mais.
      </p>
      <p>
        Para detalhes técnicos e acesso ao código fonte basta clicar <a href="https://github.com/Fat83dotcom/appEscola" target="_blank"><strong>Aqui</strong></a>.
      </p>
      <p>
        Para solicitar acesso ao sistema, basta enviar-me um e-mail descrevendo o motivo:  
      </p>
      <p>
        fernando.quimic@gmail.com
      </p>
    </div>
    <div class="info-2">
      <p></p>
      <h2>Sobre o autor:</h2>
      <p>
        <strong>Fernando Mendes Oliveira</strong>, estudante e aspirante em
        desenvolvimento backend Web, Python, Django / Rest Framework,
        PostgreSQL, Linux. Cursando Análise e Desenvolvimento de Sistemas pela
        Universidade Estácio de Sá. Meu objetivo é me tornar um <em>desenvolvedor Fullstack.</em>
      </p>
    </div>
  </section>
</main>

{%endblock%}
