{%extends 'base.html'%}
{%block conteudo%}

<main class="mainLogin">
    {% include 'parciais/_mensagens.html'%}
    <h1>Faça login para acessar o sistema !</h1>
    <section>
        <fieldset>
            <h1>Login</h1>
            <h3>Hoje:</h3>
            <h3>{{data}}</h3>
            <form class="formLogin" action="{% url 'login-system'%}" method="post">
                {% csrf_token %}
                <div class="formulario ">
                    <label for="nomeUsuario">Nome de Usuário:</label>
                    <input type="text" name="nomeUsuario" id="nomeUsuario">
                    <label for="senha">Senha:</label>
                    <input type="password" name="senha" id="senha">
                    <button type="submit">Login</button>
                </div>
            </form>
        </fieldset>
    </section>
</main>
{%endblock%}
